S3method(plot,confint)
export(capwords)
export(confint)
export(cv)
export(dynamitePlot)
export(extrange)
export(getcolors)
export(loadpkglist)
export(manual)
export(mv)
export(nselect)
export(q)
export(quit)
export(save.image)
export(savepkglist)
export(se)
export(table)
export(togray)
export(togrey)
export(values)
export(writeFunction)
